<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='server.css') }}" type="text/css"> 
        <script type="text/javascript" src="{{ url_for('static', filename='server.js') }}"></script>
        <title>TODO Title</title>
        <meta name="description" content="TODO Page description">
    </head>
    <body>
        <header>
            <h1>TODO Title</h1>
            <nav>

            </nav>
        </header>
        <main>
            <section>
                <h2>TODO Subtitle</h2>

            </section>
            <section>
                <h2>TODO Subtitle</h2>

            </section>
        </main>
        <footer>

        </footer>
    </body>
</html>