html {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#arrowholder .arrow {
	cursor: pointer;
}

#actionqueue {
	position: fixed;
	bottom:70px;
	right:0;
}

#undo {
	position: fixed;
	bottom: 50px;
	right: 60px;
}

#submit {
	position: fixed;
	bottom: 50px;
	right:0;
}

.arrow:hover {
	box-shadow: 0 0 10px 6px #999;
}

.arrow:active {
	box-shadow: 0 0 10px 6px #000;
}

.canClick{ cursor: pointer; }
.cantClick{ cursor: not-allowed; }