html {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#minimap{
	width: 50%;
	float: right;
}
table, tr, td{
	border: 1px solid;
	border-collapse: collapse;
}
table{
	position: absolute;
	right: 10px;
	top: 10px;
}
td{
	width: 7px;
	height: 7px;
	background-color: brown;
}
tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even){
	background-color: beige;
}


#arrowholder .arrow {
	cursor: pointer;
}

#actionqueue {
	position: fixed;
	bottom:70px;
	right:0;
}

#undo {
	position: fixed;
	bottom: 50px;
	right: 60px;
}

#submit {
	position: fixed;
	bottom: 50px;
	right:0;
}

.arrow:hover {
	box-shadow: 0 0 10px 6px #999;
}

.arrow:active {
	box-shadow: 0 0 10px 6px #000;
}

.canClick{ cursor: pointer; }
.cantClick{ cursor: not-allowed; }

.red{ background-color: red !important; }
.blue{ background-color: cyan !important; }
.king{ background-color: orange !important; }
.self{ background-color: lightgreen !important; }