html {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#arrowholder .arrow {
	cursor: pointer;
}

#actionqueue {
	position: fixed;
	bottom:70px;
	right:0;
}

#undo {
	position: fixed;
	bottom: 50px;
	right: 0;
}